.App {
  text-align: center;
}

html{
  background: #9AA45C;
  width: 100%;
}

/* adds spacing between the bottom of the inputs and the top of the team members */
.formContainer{
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}
.formContainer *{
  margin: 1%;
}
.formContainer button{
  border: 1px solid white;
  padding: 1%;
  color: white;
  background: rgb(197, 45, 45);
}
.formContainer button:hover{
  background: rgb(255, 57, 57)
}


.teamMemberContainer{
  border: 2px solid #C87753;
  color: black;
  background: #DA8B45;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50%;
  margin: 1% 25%;
}

.teamMemberContainer:nth-of-type(2){
  border: 2px solid #B55356;
  color: black;
  background: #C87753;
}

.teamMemberContainer:nth-of-type(3){
  border: 2px solid #9D4264;
  color: black;
  background: #B55356;
}